{% extends 'store/main.html' %} {% load static %} {% block content %}
<h3>faq</h3>
<p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ex purus,
     placerat id nibh id, bibendum varius nibh. Ut rutrum in orci vitae
     sollicitudin. Cras sit amet augue non sapien consequat lobortis a auctor nibh.
     Duis mollis nunc ac risus posuere gravida. Pellentesque varius vestibulum
     ipsum id condimentum. Nunc at blandit massa, in dapibus metus. Nunc faucibus
     sem vel gravida gravida. Donec et dolor ornare, scelerisque ex id, accumsan
     dui. Proin fringilla est vel porta mollis. Sed sagittis ipsum lorem, et
     vestibulum sapien mollis eu. Maecenas lorem risus, ullamcorper a neque tempor,
     consequat tempor nisi. Proin mollis metus non purus gravida, nec luctus est
     tempor. Nunc fringilla eu metus et sollicitudin. Vivamus hendrerit sed dolor
     in tincidunt. Curabitur interdum ac mi id imperdiet. Vivamus feugiat iaculis
     nulla sed fermentum. Ut urna odio, rhoncus sed ipsum non, sollicitudin iaculis
     mauris. Ut vitae velit fringilla, venenatis arcu et, volutpat est. Nullam a
     tempus nisl. Pellentesque luctus ante ac purus lobortis volutpat. Nullam eu
     est vel orci tincidunt vehicula sed id nunc. Duis eu erat nec neque dignissim
     accumsan. Quisque euismod pellentesque sapien quis egestas. Nulla facilisi.
     Nunc molestie mi ut fringilla ultrices. Integer efficitur eros finibus rutrum
     blandit. In eget tempor tortor. Orci varius natoque penatibus et magnis dis
     parturient montes, nascetur ridiculus mus. Fusce malesuada magna id justo
     hendrerit blandit. Mauris in mauris vel dolor imperdiet dapibus. Proin nisi
     dui, ultricies vel ligula a, molestie efficitur mi. Donec sed lectus dui.
     Maecenas velit magna, egestas a velit non, sodales tristique mi. Praesent
     pretium accumsan ipsum, at faucibus lorem cursus quis. Vivamus et odio at mi
     tincidunt suscipit. Nam diam nibh, ornare nec mollis sit amet, lobortis quis
     justo. In imperdiet magna sed lectus condimentum, sed pellentesque neque
     molestie. Fusce ipsum elit, blandit in vestibulum in, viverra nec augue. Sed
     consectetur magna ac orci gravida, a condimentum arcu mollis. Nullam maximus
     malesuada massa non cursus. Mauris mi neque, accumsan vitae nisl et, suscipit
     lobortis ante. Pellentesque luctus consectetur nisi, at pretium ex laoreet ut.
     Morbi aliquam, nisi in lobortis fermentum, erat ipsum scelerisque enim, et
     sollicitudin nisi ex quis leo. Vestibulum vel vulputate neque. Pellentesque
     mauris erat, blandit vitae venenatis facilisis, faucibus vitae risus.
     Suspendisse odio sem, gravida in est a, finibus pellentesque dui. Proin in
     consequat mauris. Cras ut sollicitudin ligula, sit amet rutrum justo.
</p>
   
{% endblock content %}


