{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <h3> Checkout </h3> 
    
    <div class = "containter"> 

        <form method = "POST">
            {%csrf_token%}
            
            <div class = "form-group">
                {{form.guest_email}}
            </div>
    
            <div class = "form-group">
                {{form.address}}
            </div>
    
            <div class = "form-group">
                {{form.city}}
            </div>
    
            <div class = "form-group">
                {{form.suburb}}
            </div>

            <div class = "form-group">
                {{form.zipcode}}
            </div>

            <div class = "form-group">
                {{form.country}}
            </div>
            <div class = "form-group"> 
                <button type="submit" class="btn btn-primary">Checkout</button>
            </div>
        </form> 

    

{% endblock content %}