{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% if search_query %}
    <h3>Results for "{{ search_query }}"</h3>
{% else %}
    <h3>Products</h3>
{% endif %}

<br> 


<div class="container mt-3">

     <form method ="GET" action = "{%url 'product'%}" class="form-inline mb-3">
          <input name="search" type="text" placeholder="Search..." class="form-control mr-2"> <!-- Implement on 23/05-->
          <button type = "submit" class = "btn btn-primary mr-2"> Search </button> 
          <button type = "button" class = "btn btn-secondary" id = "reset" data-url = "{%url 'product'%}"> Reset Search </button>
          
          <select name="category" class="form-control ml-2" onchange="this.form.submit()">
               <option value = ""> All Categories </option> <!-- for loop will display all the category IDs in the dropdown and the selected category will be displayed in the dropdown box -->
               {%for i in categories %}
                    <option value = "{{i}}" {%if i == selected_category%} selected {%endif%}> Category {{ i }} </option>
               {%endfor%}
          </select> 
     </form>

     <div class="row" id="product-container">
          {% for product in page_object %}
          <div class="col-lg-4 col-md-6 mb-4 product-item">
               <div class="product card h-100">
                    <img class="thumbnail card-img-top" src="{% static 'images/placeholder.png' %}" />

                    <div class = "card-body">

                         <h6 class="card-title">{{ product.item_name }}</h6>
                         <h5>${{ product.current_price|floatformat:2 }}</h5>
               
                         <button class="btn btn-outline-secondary add-btn" data-product="{{product.item_id}}">Add to Cart </button>
                         
                         <button popovertarget = "view-btn" class="view-btn-style btn btn-outline-success" href="#">View </button> 
                         
                         <div id = "view-btn" popover> 
                              <img class="thumbnail" src="{% static 'images/placeholder.png' %}" />
                              <h6> Product Id: <span class = "normal-text"> {{product.item_id}}  </span> </h6> 
                              <h6> Product Name: <span class = "normal-text"> {{product.item_name}} </span> </h6> 
                              <h6> Product Price: <span class = "normal-text"> ${{product.current_price}} </span> </h6> 
                              <h6> Category Id: <span class = "normal-text"> {{product.category_id}} </span> </h6>
                              <button class="btn btn-outline-secondary add-btn" data-product="{{product.item_id}}"> Add to Cart </button> 
                         </div>

                    </div> 
               </div>
          </div>
          {% endfor %}
     </div>
</div>

<!-- Creating a pagination bar for all the pages so customer can click on it and browse other products-->
<nav aria-label="Page navigation" class="mt-4">
     <ul class="pagination justify-content-center">
          {% if page_object.has_previous %}
          <!-- check if there is a previous page, if there is then display the link for it and limit the page numbers if the user is searching or using the category drop down hence the &query_string-->
          <li class="page-item">
               <a class="page-link" href="?page={{ page_object.previous_page_number }}&{{query_string}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span></a>
          </li>
          {%endif%}
          
          {%for num in page_object.paginator.page_range %} <!-- loop over over the page numbers that are avilable for pagination -->
               {% if page_object.number == num or num >= page_object.number|add:"-5" and num <= page_object.number|add:"5" %} <!-- Limit page numbers so that only 5 page numbers on either end are displayed-->
               <li class="page-item {%if page_object.number == num %} active {%endif%}"> <!-- check if current page num is == to the page number in the loop if it is equal then i want to highlight that page num-->
                    <a class="page-link" href="?page={{num}}&{{query_string}}">{{num}}</a>
               </li>
               {% endif %}
          {%endfor%}
          
          {% if page_object.has_next %}
          <!-- check if there is a next page, if there is then display the link for it -->
          <li class="page-item">
               <a class="page-link" href="?page={{ page_object.next_page_number }}&{{query_string}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span> </a>
          </li>
          {% endif %}
     </ul>
</nav>

<br> 

{% endblock content %}